/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background-image: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fi.imgur.com%2F0lrsVFx.jpg");
  background-size: 110% 110%;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3em;
  margin: 20px 0 20px 20px;
  color: white;
}
ul {
  list-style: none;
  display: flex;
  margin: auto 30px auto auto;
}

ul li {
  margin: 25px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.dashboard {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  background: rgb(43, 53, 45);
}

#map {
  margin: 50px auto 50px auto;
  width: 60%;
  height: 500px;
  background-color: grey;
  border: 5px solid rgb(43, 53, 45);
}

.text {
  background: rgb(84, 197, 99);
  margin: 80px 150px 80px 150px;
  border: 20px solid rgb(145, 233, 167);
}

h2 {
  font-family: sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0 25px 0 25px;
  padding: 20px 0 10px 0;
  color: rgb(25, 32, 97);
}

h3 {
  font-size: 1.2em;
  margin: -5px 25px 0 25px;
  padding: 20px 0 10px 0;
  color: white;
}

p {
  font-size: 1em;
  margin: 5px 25px 0px 25px;
  padding: 0 0 20px 0;
  color: white;
}

.Sources {
  font-size: 0.2em;
  color: black;
}
